@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
}
body
{
	overflow-x: hidden;
}
.wrapper
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1000px;
	display: flex;
	border: 1px solid rgba(0, 0 ,0, 0.14);
	border-radius: 8px;
}
.wrapper .left
{
	width: 200px;
	background: linear-gradient(to right bottom, #a47fe3, #00ac9f);
	padding: 30px 25px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	text-align: center;
	color: #fff;
}
.wrapper .left img
{
	width: 100px;
	border-radius: 8px;
	margin-bottom: 10px;
}
.wrapper .left h4
{
	margin-bottom: 10px;
}
.wrapper .left p
{
	font-size: 14px;
	color: #ddd;
}
.wrapper .right
{
	width: 800px;
	background: #fff;
	padding: 30px 25px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
.wrapper .right .info h2
{
	padding-bottom: 20px;
	border-bottom: 1px solid #e0e0e0;
	color: #353c4e;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.wrapper .right .info_data
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 60px 0;
}
.wrapper .right .info_data .data h4
{
	color: #353c4e;
	margin-bottom: 5px;
}
.wrapper .right .info_data .data p
{
	font-size: 14px;
	padding-bottom: 12px;
	color: #919aa3;
}
.wrapper .social_media ul
{
	display: flex;
	list-style: none;
}
.wrapper .social_media ul li
{
	width: 45px;
	height: 45px;
	background: linear-gradient(to right bottom, #a47fe3, #00ac9f);
	margin-right: 10px;
	border-radius: 50%;
	text-align: center;
	line-height: 45px;
}
.wrapper .social_media ul li a
{
	color :#fff;
	display: block;
	font-size: 18px;
}